{% extends 'produits/layout.html.twig' %}
{% block stylesheets %}
  <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet" />
{% endblock %}
{% block body %}
  <h1>Bienvenue dans notre boutique !</h1>
  <h2>Voici la catégorie {{categorie.libelle}} :</h2>
  <ul>
      <p>
        {{categorie.libelle}}
    </p>
  </ul>
{% endblock %}
