{% extends 'produits/layout.html.twig' %}
{% block stylesheets %}
  <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet" />
{% endblock %}
{% block body %}
  <h1>Bienvenue dans notre boutique !</h1>
  <h2>Voici les produits de la catégorie {{categorie.libelle}} :</h2>
  
    {% for produit in produits %}
      <p>{{produit.libelle}} </p>
    {% endfor %}

{% endblock %}
