{% extends "produits/layout.html.twig" %}
{% block stylesheets %}
    <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<h1>Il faut compléter cette page</h1>
{% endblock %}